<div class="container {{p.author_id}}">
	<div class="jumbotron">
		<a href={{ "/blog/" ~ p.key().id() }}><h2 class="subject">{{p.subject}}</h2></a>
		<span>{{p.created.strftime("%b %d, %Y")}}</span>
		<span>by <b>{{p.author_name}}</b></span>
		<hr>
		<p>{{p._render_text | safe}}</p>
		<div class="btn-group btn-group-md">
	
			<a href={{ "/blog/edit_post/" ~ p.key().id() }}>Edit</a>
			|
			<a href={{ "/blog/delete_post/" ~ p.key().id() }}>Delete</a>
			|
			<a href={{ "/blog/new_comment/" ~ p.key().id() }}>Comment</a>
		</div>

		{% for c in comments %}
			{{c.render() | safe}}
		{% endfor %}
	</div>
</div>
<br><br>